/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Layout */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
    line-height: 50px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li :hover{
    color: rgb(255, 0, 85);
}

main {
    padding: 20px;
    min-height: 60vh; /* Ensure the main content has some minimum height */
}

aside {
    line-height: 50px;
    background-color: #333;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer ul li{
    display: inline-block;
    margin-right: 20px;
}
footer ul li a img:hover {
    filter: brightness(0.8); /* Darkens the image on hover */
    transform: scale(1.3); /* Slightly increases the size of the image on hover */
    transition: transform 0.3s ease, filter 0.3s ease; /* Smooth transition */
}

.image img {
    width: 100%; /* Make the image responsive, fills the container */
    max-width: 320px; /* Limit the maximum width of the image */
    height: 310px; /* Maintain the aspect ratio */
    float: right;
}

/* Responsive Design */
@media (min-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    main {
        flex: 1;
    }

    footer {
        position: relative;
        bottom: 0;
        width: 100%;
    }
}
